<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-4" style="float: left;">
		<div class="list-group table-of-contents" ng-controller="SidebarController">
			<a class="list-group-item" href="#/home" class="btn" ng-class="{'btn-primary' : $location.url() == '/home'}">Home</a>
    		<a class="list-group-item" href="#/profile" class="btn" ng-class="{'btn-primary' : $location.url() == '/profile'}">Profile</a>
    		<a class="list-group-item" href="#/admin" class="btn" ng-class="{'btn-primary' : $location.url() == '/admin'}">Admin</a>
    		<a class="list-group-item" href="#/form" class="btn" ng-class="{'btn-primary' : $location.url() == '/forms'}">Forms</a>
    	</div>
    </div>
</div>
